<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenid@ {{ u  }}</ion-title>
 <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>
 </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenid@ {{ u }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>2022_2_PN_PGY4121_23788397_PCT</ion-card-subtitle>
    <ion-card-title color="primary" [routerLink]="['/section-home']" >PROGRAMACION DE APLICACIONES MOVILES_004D</ion-card-title>
  </ion-card-header>
<ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>


</ion-content>
